<tr>
    <td>
      <img
        src="<%= FatedSummons.image %>"
        alt="<%= FatedSummons.name %>-card"
        class="table-image"
      />
    </td>
    <td>
      <a href="/detail/<%= FatedSummons.name %>"> <%= FatedSummons.name %> </a>
    </td>
    <td><%= FatedSummons.description %></td>
    <td><%= FatedSummons.skills %></td>
    <td><%= FatedSummons.cardNumber %></td>
    <td><%= FatedSummons.id %></td>
  </tr>